@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.destinatons_section{
    padding-top: 5rem;
    padding-left: 4vw;
    padding-right: 4vw;
    position: relative;
    width: 100%;
}

.destinatons_section_description{
    position: relative;
    color: rgb(207, 203, 203);
    font-family: 'Poppins';
    font-size: 1.2rem;
    padding-top: 5rem;
    padding-bottom: 8rem;
    text-align:center;
}

.destinatons_section_description a{
    text-decoration: none;
    font-weight: 800;
    color: rgb(107, 107, 107);
}

.destinatons_section_description a:hover{
    color: rgba(235, 130, 10, 0.9);
    transition: 0.6s;
}

.destinaton{
    padding-bottom: 8rem;
}

.city{
    display: flex;
}

.div_left{
    position: relative;
    width: 25rem;
    padding-right: 4vw;
    z-index: 7;
    background-color: rgb(36, 35, 35);
}

.div_left iframe{
  position: relative; /* remove absolute */
  width: 100%; /* leave space for border */
  height: 100%;
  padding: 0.5rem;
  border: none;
}

.div_right{
    position: relative;
    width: 60vw;
    overflow: hidden;
}

.city_name{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.city_description{
    position: relative;
    color: rgb(107, 107, 107);
    font-family: 'Poppins';
    font-size: 0.9rem;
}

.attraction_section{
    padding-top: 2rem;
    width: 100%;
    padding-bottom: 0.5rem;
}

.overlayers{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;  
    pointer-events: none;
}

.attraction_section{
    position: relative;

}

.solid_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 7vw;
    height: 100%;
    background-color: rgb(36, 35, 35); /* match section background */
}

.fade_overlay_left {
    position: absolute;
    top: 0;
    left: 6.9vw;
    width: 8vw;
    height: 100%;
    background: linear-gradient(to right, rgb(36, 35, 35), rgba(36, 35, 35, 0));
}

/* Right side */
.solid_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 7vw;
    height: 100%;
    background-color: rgb(36, 35, 35); /* match section background */
}


.fade_overlay_right{
    position: absolute;
    top: 0;
    right: 6.9vw;
    width: 8vw;
    height: 100%;
    background: linear-gradient(to left, rgb(36, 35, 35), rgba(36, 35, 35, 0));
}

.nav_arrow {
    pointer-events: all;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background: rgba(235, 130, 10, 0.9);
    border: none;
    border-radius: 50%;
    color: rgb(36, 35, 35);
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 6;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_arrow:hover {
    border: 1px solid rgb(235, 130, 10);
    background: rgba(235, 130, 10, 0);
    color: rgb(235, 130, 10);
    transition: 0.8s;
}

.nav_arrow.left {
    left: 2vw;
}

.nav_arrow.right {
    right: 2vw;
}


.sub_topic{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.attraction_container {
    display: flex;
    gap: 0.5rem;
    will-change: transform;
}

.attraction:hover{
    background-color: rgb(235, 130, 10);
    font-weight: 600;
    transition: 0.5s;
}

.attraction:hover .attraction_name{
    font-weight: 600;
    color: rgb(36, 35, 35);
}

.attraction{
    min-width: 12rem;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(235, 130, 10);
    cursor: pointer;
}

.attraction_container img{
    width: 100%;
    height: auto;
}

.attraction_name{
    color: white;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 0.9rem;
    text-align: center;
    padding: 0.5rem;
}

.map_button {
  display: none;
}

.show_map {
    display: block !important;
    animation: fadeInDown 0.6s ease;
}

:global(body.light_theme) .city_name{
  color: rgb(36, 35, 35);
}

:global(body.light_theme) .sub_topic{
  color: rgb(36, 35, 35);
}

:global(body.light_theme) .attraction_name{
  color: rgb(36, 35, 35);
}

:global(body.light_theme) .div_left{
  background-color: rgb(195, 199, 201);
}

:global(body.light_theme) .solid_right{
  background-color: rgb(195, 199, 201);
}

:global(body.light_theme) .solid_left{
  background-color: rgb(195, 199, 201);
}

:global(body.light_theme) .fade_overlay_right{
    background: linear-gradient(to left, rgb(195, 199, 201), rgba(195, 199, 201, 0));
}

:global(body.light_theme) .fade_overlay_left{
    background: linear-gradient(to left, rgba(195, 199, 201, 0), rgb(195, 199, 201));
}

:global(body.light_theme) .attraction {
    background-color: rgb(209, 215, 221);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); /* Outer shadow */
}

@media only screen and (max-width: 820px) {

    .city{
        flex-direction: column-reverse;
    }
    
    .map_button{
    display: block;
    width: 100%;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
    border: none;
    }

    .map_button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.6s;
    color: rgb(255, 255, 255);
    }

    .div_left{
        padding-left: 4vw;
        display: none;
    }

    .div_left iframe{
    position: relative; /* remove absolute */
    width: 100%; /* leave space for border */
    height: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    }

    .destinaton{
        border-width: 1px;
        border-color: rgba(255, 255, 255, 0.267);
        border-style: solid;
        margin-top: 0;
        margin-right: 1rem;
    }

    .city_name{
    color: rgb(36, 35, 35);
    background-color: rgb(235, 130, 10);
    text-align: center;
    }

    .div_left{
        width: 100%;
        padding-right: 4vw;
        height: 15rem;
    }

    .div_right{
    width: 100%;
    }

    .destinaton{
        padding-bottom: 0rem;
        margin-bottom: 3rem;
    }

    .city_description{
    padding: 5vw;
    }

    .sub_topic{
    text-align: center;
    }

}