
@keyframes fadeInRight {from {opacity: 0;transform: translateX(-20px);}to {opacity: 1;transform: translateX(0);} }
@keyframes bulbGlow{0%{opacity:.72;text-shadow:0 0 4px rgba(255,213,74,.35),0 0 10px rgba(255,204,0,.2),0 0 18px rgba(255,204,0,.12)}50%{opacity:1;text-shadow:0 0 8px rgba(255,213,74,.75),0 0 18px rgba(255,204,0,.5),0 0 32px rgba(255,204,0,.3)}100%{opacity:.72;text-shadow:0 0 4px rgba(255,213,74,.35),0 0 10px rgba(255,204,0,.2),0 0 18px rgba(255,204,0,.12)}}@keyframes fadeIn {from { opacity: 0; }to { opacity: 2; }}

/*Hero Section___________________________________________________________*/
.hero_section_container{
    position: relative;
    margin-top: 6.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 4vw;
    padding-right: 4vw;
    color: white;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hero_section_container h1{
    font-size: clamp(1.2rem,1.5vw,1.5rem);
}

.hero_section_container span{
    color: rgb(175, 102, 18);
}

.hero_section_container p{
    padding-top: 0.5rem;
    font-size: clamp(0.85rem,1.1vw,1.1rem);
    color: rgb(143, 143, 143);
    font-family: 'Poppins', sans-serif;
}

.hero_section_image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
    height: auto;
    max-height: 32rem;
    overflow: hidden;
}

.hero_section_image img{
    position: relative;
    width: 100%;
    height: auto;
}

.hero_section_description{
    position: relative;
    width: 55%;
}

.sub_topic_button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: clamp(0.9rem, 1vw, 1rem);
    background-color: rgb(175, 102, 18);
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 0.65rem;
    margin-top: 0.65rem;
    width: fit-content;
    border: 0;
    color: rgb(36, 35, 35);
    cursor: pointer;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(218, 116, 0, 0);

    opacity: 0;
    transform: translateY(-20px); 
    animation: fadeInRight 1s ease forwards;
    animation-delay: 1s;
}

.hero_section_container i{
  color: rgb(255, 255, 255);
  margin-left: 0.6rem;
  animation: bulbGlow 2.5s infinite ease-in-out;

}

.sub_topic_button:hover{
    background-color: rgba(235, 125, 0, 0);
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(175, 102, 18);
    transition: 0.5s;
    color: rgb(175, 102, 18);
}

.weather_section_container{
    padding-left: 4vw;
    padding-right: 4vw;
}

.weather_forcast_container{
    padding-left: 4vw;
    padding-right: 4vw;
}

.weather_section_container h2{
    margin-top: 6.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    margin-bottom: 1rem;
}

.weather_section_container span{
    color: rgb(175, 102, 18);
}

.weather_section_container i{
    padding-left: 1rem;
}

.weather_section_container p{
    padding-top: 0.5rem;
    font-size: clamp(0.9rem,1.1vw,1.1rem);
    color: rgb(143, 143, 143);
    font-family: 'Poppins', sans-serif;
}

.weather_section_image_container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: max-content;
}

.weather_section_image_container img{
    height: 24vw;
    width: auto;
}

.weather_section_image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding-left: 5vw;
}

.weather_section_image h4{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.weather_section{
    display: flex;
    align-items: center;
    padding-right: 4vw;
}

.weather_section h4{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: clamp(1rem,1.5vw,1.5rem);
}

.weather_section_image p{
    font-size: clamp(0.9rem,1vw,1rem);
    color: rgb(143, 143, 143);
    font-family: 'Poppins', sans-serif;
}

.weather_section_image h5{
    font-size: clamp(0.8rem,1.1vw,1.1rem);
    color: rgb(175, 102, 18);
    font-family: 'Poppins', sans-serif;
}

.weather_section_image span{
    font-size: clamp(0.8rem,1.1vw,1.1rem);
    color: rgb(143, 143, 143);
    font-family: 'Poppins', sans-serif;
}

.weather_section_image_description{
    text-align: center;
}

.climate_section_container{
    margin-top: 5rem;
}

.climate_section_container h4{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: clamp(1rem,1.5vw,1.5rem);
}

.climate_section_container p{
    padding-top: 0.5rem;
    font-size: clamp(0.9rem,1.1vw,1.1rem);
    color: rgb(143, 143, 143);
    font-family: 'Poppins', sans-serif;
}

.climate_section_description p{
    font-size: clamp(0.8rem,1vw,1rem);
    color: rgb(143, 143, 143);
    font-family: 'Poppins', sans-serif;
}


.climate_section_container h5{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: clamp(1rem,1.5vw,1.5rem);
    text-align: center;
}

.climate_sections{
    padding-top: 2rem;
    width: 100%;
    position: relative;
    display: flex;
    gap: 1rem;
}

.climate_section{
    cursor: pointer;
    position: relative;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(175, 102, 18);
}

.climate_section:hover{
    box-shadow: 0px 0px 10px rgba(255, 144, 17, 0.486);
    transition: 0.6s;
}

.climate_section_image{
    position: relative;
    height: 16rem;
    overflow: hidden;
}

.climate_section img{
    position: absolute;
    width: 30rem;
    height: auto;
}

.climate_section_description{
    position: relative;
    width: 100%;
    padding: 1.5vw;
}



/*Hero Section___________________________________________________________*/


@media only screen and (max-width: 1150px) {
    .weather_section{
        flex-direction: column;
    }

    .weather_section_image_container img{
    height: 15rem;
    width: auto;
    }

    .weather_section_image_container {
        margin-top: 3rem;    
        width: 100%;
        max-width: 100%;

    }
    

}

@media only screen and (max-width: 1000px) {

    .climate_sections{
        flex-direction: column;
        gap: 1rem;
    }

    .climate_section{
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    .climate_section_image{
        width: 35%;
        min-width: 35%;
        height: auto;
        position: relative;
        overflow: hidden;
    }

    .climate_section_image img{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .climate_section_description{
        width: 65%;
        padding: 1rem;
    }

    .climate_section_description h5{
        text-align: left;
    }
}


@media only screen and (max-width: 820px) {
    .hero_section_container{
        flex-direction: column;
        margin-top: 3rem;
    }

    .weather_section_image{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .hero_section_image{
        width: 100%;
    }

    .hero_section_description{
        width: 100%;
    }

    .weather_section_image_container {
        flex-direction: column;
        gap: 2rem;

    }

    .weather_section_image_container img{
    height: 12rem;
    }

    .weather_section_image_description h5{
        padding-top: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        line-height: 1.4;
        margin-top: 2rem;
    }

    .weather_section_image_description p{
        font-size: 0.8rem;
    }


    .weather_section_image_description h5 span{
        white-space: nowrap;
    }

    .weather_section_image_description{
        text-align: left;
    }
}