.safety_container{
    position: relative;
}

.safety_intro{
    font-size: clamp(0.9rem,1.1vw,1.1rem);
    color: rgb(143, 143, 143);
    font-family: 'Poppins', sans-serif;
}

.safety_subheading{
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: clamp(1rem,1.5vw,1.5rem);
}

.safety_container p{
    padding-top: 0.5rem;
    font-size: clamp(0.9rem,1.1vw,1.1rem);
    color: rgb(143, 143, 143);
    font-family: 'Poppins', sans-serif;
}

/* What Travelers Should Know — text cards______________________________*/
.card_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.card{
    cursor: pointer;
    position: relative;
    width: 100%;
    padding: 1.5vw;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(235, 130, 10);
}

.card:hover{
    box-shadow: 0px 0px 10px rgba(255, 144, 17, 0.486);
    transition: 0.6s;
}

.card h5{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: clamp(1rem,1.3vw,1.3rem);
}

.card p{
    padding-top: 0.4rem;
    font-size: clamp(0.85rem,1vw,1rem);
    color: rgb(143, 143, 143);
    font-family: 'Poppins', sans-serif;
}

/* Quick Safety Tips____________________________________ */
.quick_tips_list{
    margin-top: 0.5rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.quick_tips_list li{
    display: flex;
    align-items: center;
    width: calc(50% - 0.4rem);
    font-size: clamp(0.9rem,1.1vw,1.1rem);
    color: rgb(143, 143, 143);
    font-family: 'Poppins', sans-serif;
}

.quick_tips_list li i{
    color: rgb(235, 130, 10);
    margin-right: 1rem;
}

/*Responsive___________________________________________________________*/

@media only screen and (max-width: 1000px) {

    .card_grid{
        grid-template-columns: 1fr;
    }

    .quick_tips_list li{
        width: 100%;
    }
}
