
@keyframes fadeInRight {from {opacity: 0;transform: translateX(-20px);}to {opacity: 1;transform: translateX(0);} }
@keyframes fadeIn {from { opacity: 0; }to { opacity: 2; }}
/*Cover Section CSS_______________________________________________________________________*/
.coversection{
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.coversection_brief{
    width: 40%;
}

.coversection_brief h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1.6rem, 2.2vw, 2.2rem);
    opacity: 0;
    padding-bottom: 1rem;
    transform: translateY(-20px); 
    animation: fadeInRight 1s ease forwards;
    animation-delay: 0.4s;
}

.coversection_brief h2{
    color: rgb(122, 120, 120);
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    font-weight: 550;
    padding-bottom: 0.5rem;
    opacity: 0;
    transform: translateY(-20px); 
    animation: fadeInRight 1s ease forwards;
    animation-delay: 0.6s;
}

.coversection_brief p{
    color: rgb(122, 120, 120);
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1rem, 1vw, 1rem);

    opacity: 0;
    transform: translateY(-20px); 
    animation: fadeInRight 1s ease forwards;
    animation-delay: 0.8s;
}

.button_1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: clamp(1rem, 1.2vw, 1.2vw);
    background-color: rgb(235, 130, 10);
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    margin-top: 1rem;
    width: fit-content;
    border: 0;
    color: rgb(36, 35, 35);
    cursor: pointer;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(218, 116, 0, 0);

    opacity: 0;
    transform: translateY(-20px); 
    animation: fadeInRight 1s ease forwards;
    animation-delay: 1s;
}

.coversection_image{
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    width: 50vw;
    height: 100%;
    padding-left: 5vw;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px); 
    animation: fadeIn 1s ease forwards;
    animation-delay: 1s;
}

.image_wrapper {
    position: relative;
    width: 100%;
    height: 480px; /* desktop height */
}

.cover_img {
    object-fit: cover;
}

/*Cover Section Animations*/
.button_1:hover{
    background-color: rgba(235, 125, 0, 0);
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(235, 130, 10);
    transition: 0.5s;
    color: rgb(235, 130, 10);
}

:global(body.light_theme) .coversection_brief h1{
  color: rgb(36, 35, 35);
}

:global(body.light_theme) .button_1{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}


/*Cover Section Mobile View CSS______________________________________________________________*/
@media only screen and (max-width: 800px) {
.coversection{
    flex-direction: column-reverse;
    padding-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.coversection_brief{
    width: 100%;
}

  .image_wrapper {
    height: 300px;
  }

.coversection_image{
    width: 100%;
    padding-left: 0%;
    padding-top: 10vh;
}

.coversection_brief p{
    font-size: clamp(0.9rem, 1.5vw, 1.5rem);
}

.button_1{
    padding: 1rem;
}

.coversection_brief h2{
    font-size: clamp(0.9rem, 1.5vw, 1.5rem);
    font-weight: 600;
}

.coversection_brief h1{
    font-size: clamp(1.5rem, 1.5vw, 1.5rem);
    font-weight: 1000;
}

}