
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  background-color: rgb(36, 35, 35);
  overflow-x: hidden;
  max-width: 100%;
}

body.light_theme {
  background-color: rgb(195, 199, 201);
  color: rgb(36, 35, 35);
  transition: background-color 0.4s ease, color 0.4s ease;
}



