.topic_text{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 10rem;
    font-size: clamp(1.5rem,2vw,2rem);
    text-align: left;
    padding-left: 4rem;
    padding-bottom: 2rem;
}

.inquire_section{
    display: flex;
    position: relative;
    height: fit-content;
    padding-left: 4rem;
    padding-bottom: 5rem;
}

.inquire_form{
    z-index: 2;
    width: fit-content;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(235, 130, 10);
}

.inquire_form_content{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    color: rgb(211, 211, 211);
    font-family:'Poppins', sans-serif;
}

.inquire_form_content td{
    padding-right: 1rem;
    padding-top: 0.2rem;
}

.inquire_form_content input{
    width: 100%;
    padding: 0.5rem;
    border: 0;
    background-color: rgb(77, 77, 77);
    color: rgb(255, 255, 255);
    font-family:'Poppins', sans-serif;
}

.inquire_form_content select{
    width: 100%;
    padding: 0.5rem;
    border: 0;
    background-color: rgb(77, 77, 77);
    color: rgb(255, 255, 255);
    font-family:'Poppins', sans-serif;
}

.days{
    width: 100%;
}

.inquire_form_content textarea{
    width: 100%;
    padding: 0.5rem;
    border: 0;
    background-color: rgb(77, 77, 77);
    color: rgb(255, 255, 255);
    font-family:'Poppins', sans-serif;
    resize: none;
}

.submit_button{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: rgb(235, 130, 10);
    color: rgb(36, 35, 35);
    padding: 0.4rem;
    border: 0;
    cursor: pointer;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(218, 116, 0, 0);
    margin-bottom: 0.5rem;
}

.submit_button:hover{
    background-color: rgba(235, 125, 0, 0);
    color: rgb(235, 130, 10);
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(235, 130, 10);
    transition: 0.5s;
}

.inquire_image{
    z-index: 1;
    position: relative;
    width: 50vw;
    left: 5rem;
    height: auto;

  background-image: url('../../public/background.jpg'); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 63% auto;
}

.inquire_image img{
    height: 100%;
    width: 100%;
}

.inquire_form_image_2{
  display: none;
}

:global(body.light_theme) .topic_text{
  color: rgb(36, 35, 35);
}

:global(body.light_theme) .inquire_form_content label{
  color: rgb(36, 35, 35);
}

:global(body.light_theme) .inquire_form_content input{
  background-color: rgb(145, 147, 148);
}

:global(body.light_theme) .inquire_form_content input::placeholder{
  color: rgb(192, 192, 192);
}

:global(body.light_theme) .inquire_form_content textarea::placeholder{
  color: rgb(192, 192, 192);
}

:global(body.light_theme) .inquire_form_content select{
  color: rgb(192, 192, 192);
}

:global(body.light_theme) .inquire_form_content textarea{
  background-color: rgb(145, 147, 148);
}

:global(body.light_theme) .inquire_form_content select{
  background-color: rgb(145, 147, 148);
}

:global(body.light_theme) .inquire_form{
  box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.274);
}

:global(body.light_theme) .inquire_form{
  box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.274);
}

:global(body.light_theme) .inquire_form_image_2{
  display: block;
}

:global(body.light_theme) .inquire_form_image_1{
  display: none;
}

@media (max-width: 800px) {

    .topic_text{
        padding-top: 0;
        font-size: 1.3rem;
        text-align: center;
        padding-left: 0rem;
        padding-top: 10rem;
    }

    .inquire_section{
        padding-left: 0rem;
        justify-content: center;
    }

    .inquire_form_content{
    padding: 0.5rem;
    }

    .inquire_image{
        display: none;
    }

    .inquire_form_content td{
    padding-right: 0.5rem;
    }
    
    .inquire_form{
        max-width: 20rem;
    }



}